#eclipse/emacs stuff
.cproject
.dep/
.project
.settings/
.pydevproject
*~

#OS
.gdb_history
.DS_Store

#binaries
build
Arepo*
Arepo.dSYM
libarepo.a
.build*/
*.o
*.check
*.pyc

# param, Config, Makefile.systype
param.txt
Makefile.systype
run.sh

#run and output directory
/run
/output

#documentation build
/documentation/build
